


body {
    font-family: 'Abel', SansSerif, serif;
    font-size: medium;
    min-height: 100%;
    height: auto;
    background-image: url("../imgconcert/Achtergrondconcerten.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#wrap {
    min-height: 100%;
    height: auto;
}


.Concerten{
    font-size:40px ;
    margin-top: 20px;
    float: right;
    margin-right: 80px;
}

/* menu */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("../imgconcert/Achtergrondconcerten.jpg") ;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
/* eind menu */

.titel-concerten-overzicht {
    float: left;
    margin-top: 80px;
    margin-left: 100px;
}

.margintopoverzicht{
    margin-top: 50px;
}

main{
    margin-left: 50px;
    margin-right: 10px;
}

.mainpicture img{
    float: left;
    margin-top: 100px;
}

.no_border td{
    border: none;
    margin-bottom: 100px;

}

.meer{
    font-size:40px ;
    margin-top: 20px;
    float: left;
    margin-right: 80px;
}

div.wrapper{
    width: 100%;
    margin: auto;
}


.maintableblz2 ,td ,tr, table{
    border-style: none;
}
.maintableblz2{
    float: left;
}

.table2{
    border-style: none;
    float: right;
}

.concertjan{
    font-size:40px ;
    margin-top: 60px;
    margin-right: 80px;
}
.enmeer{
    margin-top: 60px;
    border-style: none;
    margin-bottom: 20px;
}

.margintopenmeer{
    margin-top: 50px;
}

/* nieuw */
.maintext {
    color: antiquewhite;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #412828;
}

.spacing-row {
    margin-top:10px;
}
/*
.footer {
    position: absolute;
    height: 12%;
    width: 100%;
    background-color: darkgrey;
    color: white;
    margin-bottom: 2px;
    margin-top: 30px;
}
*/

.footer {
    background-color: darkgrey;
    color: white;
    height:160px;
    padding-left:30px;
}


.sitelinks a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}